logic/OrderProcessor/workflow.json
{
  "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
          "Switch": {
              "cases": {
                  "Beans": {
                      "actions": {
                          "Processing_beans_order": {
                              "inputs": {
                                  "body": "Processing beans order",
                                  "statusCode": 200
                              },
                              "kind": "http",
                              "runAfter": {},
                              "type": "Response"
                          }
                      },
                      "case": "Coffee Beans"
                  },
                  "Coffee": {
                      "actions": {
                          "Processing_Coffee_order": {
                              "inputs": {
                                  "body": "Processing Coffee order",
                                  "statusCode": 200
                              },
                              "kind": "http",
                              "runAfter": {},
                              "type": "Response"
                          }
                      },
                      "case": "Coffee"
                  },
                  "Food": {
                      "actions": {
                          "Processing_food_order": {
                              "inputs": {
                                  "body": "Processing Food Order",
                                  "statusCode": 200
                              },
                              "kind": "http",
                              "runAfter": {},
                              "type": "Response"
                          }
                      },
                      "case": "Food"
                  }
              },
              "default": {
                  "actions": {
                      "Didn't_recognize_order_": {
                          "inputs": {
                              "body": "We don't have any in stock ",
                              "statusCode": 200
                          },
                          "kind": "http",
                          "runAfter": {},
                          "type": "Response"
                      }
                  }
              },
              "expression": "@triggerBody()?['item']",
              "runAfter": {},
              "type": "Switch"
          }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "triggers": {
          "manual": {
              "inputs": {
                  "schema": {
                      "properties": {
                          "address": {
                              "type": "string"
                          },
                          "item": {
                              "type": "string"
                          },
                          "name": {
                              "type": "string"
                          },
                          "number": {
                              "type": "string"
                          },
                          "quantity": {
                              "type": "integer"
                          }
                      },
                      "type": "object"
                  }
              },
              "kind": "Http",
              "type": "Request"
          }
      }
  },
  "kind": "Stateful"
}