logic/OrderProcessor/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Switch": {
                "type": "Switch",
                "expression": "@triggerBody()?['item']",
                "cases": {
                    "Coffee": {
                        "case": "Coffee",
                        "actions": {
                            "Response": {
                                "type": "Response",
                                "kind": "http",
                                "inputs": {
                                    "statusCode": 200,
                                    "body": "Processing Coffee order"
                                },
                                "runAfter": {}
                            }
                        }
                    },
                    "Beans": {
                        "case": "Coffee Beans",
                        "actions": {
                            "Response_2": {
                                "type": "Response",
                                "kind": "http",
                                "inputs": {
                                    "statusCode": 200,
                                    "body": "Processing beans order"
                                },
                                "runAfter": {}
                            }
                        }
                    },
                    "Food": {
                        "case": "Food",
                        "actions": {
                            "Response_3": {
                                "type": "Response",
                                "kind": "http",
                                "inputs": {
                                    "statusCode": 200,
                                    "body": "Processing Food Order"
                                },
                                "runAfter": {}
                            }
                        }
                    }
                },
                "default": {
                    "actions": {
                        "Response_4": {
                            "type": "Response",
                            "kind": "http",
                            "inputs": {
                                "statusCode": 200,
                                "body": "We don't have any in stock "
                            },
                            "runAfter": {}
                        }
                    }
                },
                "runAfter": {}
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "type": "string"
                            },
                            "number": {
                                "type": "string"
                            },
                            "item": {
                                "type": "string"
                            },
                            "quantity": {
                                "type": "integer"
                            },
                            "address": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}