logic/NewOrder/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Call_an_Azure_function": {
                "type": "Function",
                "inputs": {
                    "method": "POST",
                    "body": {
                        "itemID": "@triggerBody()?['itemid']"
                    },
                    "function": {
                        "connectionName": "azureFunctionOperation"
                    }
                },
                "runAfter": {}
            },
            "Insert_row_(V2)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "sql"
                        }
                    },
                    "method": "post",
                    "body": {
                        "OrderID": "@triggerBody()?['orderid']",
                        "name": "@triggerBody()?['user']",
                        "number": "@triggerBody()?['phoneno']",
                        "address": "@triggerBody()?['address']",
                        "quantity": "@triggerBody()?['quantity']"
                    },
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[OrdersTable]'))}/items"
                },
                "runAfter": {
                    "Call_an_Azure_function": [
                        "Succeeded"
                    ]
                }
            },
            "Response": {
                "type": "Response",
                "kind": "http",
                "inputs": {
                    "statusCode": 200
                },
                "runAfter": {
                    "Condition": [
                        "Succeeded"
                    ]
                }
            },
            "Condition": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "contains": [
                                "@outputs('Call_an_Azure_function')?['body']",
                                "true"
                            ]
                        }
                    ]
                },
                "actions": {
                    "Send_message_2": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "entityName": "newpriorityorder"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "serviceBus",
                                "operationId": "sendMessage",
                                "serviceProviderId": "/serviceProviders/serviceBus"
                            }
                        },
                        "runAfter": {}
                    }
                },
                "runAfter": {
                    "Insert_row_(V2)": [
                        "Succeeded"
                    ]
                },
                "else": {
                    "actions": {
                        "Send_message": {
                            "type": "ServiceProvider",
                            "inputs": {
                                "parameters": {
                                    "entityName": "neworder",
                                    "message": {
                                        "contentData": "@body('Insert_row_(V2)')"
                                    }
                                },
                                "serviceProviderConfiguration": {
                                    "connectionName": "serviceBus",
                                    "operationId": "sendMessage",
                                    "serviceProviderId": "/serviceProviders/serviceBus"
                                }
                            },
                            "runAfter": {}
                        }
                    }
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "orderid": {
                                "type": "string"
                            },
                            "user": {
                                "type": "string"
                            },
                            "address": {
                                "type": "string"
                            },
                            "phoneno": {
                                "type": "string"
                            },
                            "itemid": {
                                "type": "string"
                            },
                            "quantity": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}