logic/NewOrder/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Call_an_Azure_function": {
                "type": "Function",
                "inputs": {
                    "method": "POST",
                    "body": {
                        "itemID": "@triggerBody()?['itemid']"
                    },
                    "function": {
                        "connectionName": "azureFunctionOperation-2"
                    }
                },
                "runAfter": {}
            },
            "Insert_row_(V2)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "sql"
                        }
                    },
                    "method": "post",
                    "body": {
                        "OrderID": "@triggerBody()?['orderid']",
                        "name": "@triggerBody()?['user']",
                        "number": "@triggerBody()?['phoneno']",
                        "item": "@body('Parse_JSON')?['itemname']",
                        "address": "@triggerBody()?['address']",
                        "quantity": "@triggerBody()?['quantity']"
                    },
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[OrdersTable]'))}/items"
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                }
            },
            "Send_message": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "entityName": "neworder",
                        "message": {
                            "contentData": "@body('Parse_JSON')?['description']"
                        }
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "sendMessage",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "runAfter": {
                    "Insert_row_(V2)": [
                        "Succeeded"
                    ]
                }
            },
            "Response": {
                "type": "Response",
                "kind": "http",
                "inputs": {
                    "statusCode": 200
                },
                "runAfter": {
                    "Send_message": [
                        "Succeeded"
                    ]
                }
            },
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@outputs('Call_an_Azure_function')?['body']",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "itemname": {
                                "type": "string"
                            },
                            "description": {
                                "type": "string"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Call_an_Azure_function": [
                        "Succeeded"
                    ]
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "orderid": {
                                "type": "string"
                            },
                            "user": {
                                "type": "string"
                            },
                            "address": {
                                "type": "string"
                            },
                            "phoneno": {
                                "type": "string"
                            },
                            "itemid": {
                                "type": "string"
                            },
                            "quantity": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}